.col-xl-4 {
  padding-right: 1px !important;
  padding-left: 1px !important;
}
.col-xl-8 {
  padding-right: 1px !important;
  padding-left: 1px !important;
}
.col2 {
  margin-top: -20px !important;
  padding-right: 1px !important;
}
.col3 {
  margin-top: -20px !important;
  padding-left: 1px !important;
  padding-right: 13px !important;
}
.col4 {
  margin-top: -20px !important;
}
.image {
  position: relative;
  height: 100%;
}
.h2 {
  position: absolute;
  top: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
}
.p {
  position: absolute;
  top: 145px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: white;
  margin: 0px 20px;
}
.button-container {
  position: absolute;
  top: 230px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.buttonThree {
  color: black;
  background-color: white;
}
.textDetails {
  margin: 10px 0px 0px 0px;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}
.textDetails1 {
  margin: 0px 0px 30px 0px;
  font-size: 15px;
  font-weight: 100;
  text-align: center;
  color: gray;
}
.icons {
  font-size: 20px;
  /* margin-right: 70px; */
  height: 30px;
}
.user-profile-image {
  height: 4rem;
  width: 4rem;
}
.image12 {
  width: 140px;
  height: 100px;
}

hr.s9 {
  height: 6px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.location {
  font-size: 15px;
  font-weight: 500;
}

.hover-1 {
  --h: 1.3em; /* the height */

  line-height: var(--h);
  color: #0000;
  text-shadow: 0 calc(-1 * var(--_t, 0em)) #000,
    0 calc(var(--h) - var(--_t, 0em)) #1095c1;
  overflow: hidden;
  transition: 0.3s;
}
.hover-1:hover {
  --_t: var(--h);
}
.hover-2 {
  --h: 1.3em; /* the height */

  line-height: var(--h);
  color: #0000;
  text-shadow: 0 calc(-1 * var(--_t, 0em)) #000,
    0 calc(var(--h) - var(--_t, 0em)) black;
  overflow: hidden;
  transition: 0.3s;
}
.hover-2:hover {
  --_t: var(--h);
}
.sk-linkedin-page-post-profile-info {
  width: 78% !important;
}
.sk-btn-container {
  margin-right: 10px !important;
}
.linkedin-page-post-user-root-container {
  display: none !important;
}
.sk_post_img {
  height: 600px !important;
}
.grid-content {
  padding: 10px !important;
  font-size: 15px !important;
}
.sk-linkedin-page-post-bottom-btn-container{
  margin-top: 10px;
}

.post-header{
  padding: 0px !important;
}
.sk-secondary-data{
  display: none !important;
}
.icons-fb{
  font-size: 20px;
  /* margin-right: 70px; */
  height: 20px;
}
.icons-gl{
  font-size: 15px;
  /* margin-right: 70px; */
  height: 20px;
}
.ytp-large-play-button{
  display: none !important;
}
.href_status_trigger_post{
  color: #005ccb !important;
}
.href_status_trigger_post_container{
  color: #000 !important;
  font-weight: 500 !important;
}
.post-header{
  display: none !important;
}
